{% extends 'base.html' %}

{%block title%} Lista de Contatos {%endblock%}
{% block main %}
    <h1>Lista de Contatos</h1>
    <ul>
        {% for empresa in empresas %}

            <li>{{ empresa.nome }} <a href="{%url 'atualizar_empresa' empresa.id %}">Editar</a>
            <a href="{%url 'adicionar_acao' empresa.id%}">Adicionar Ação</a> </li>

        {% endfor %}
    </ul>

    <br>

    <a href="{% url 'adicionar_empresa' %}" class="btn btn-primary">Nova Empresa</a>
    <br>

    <a href="{% url 'listar_acoes' %}" class="btn btn-primary">Listar Ações</a>

    <a href="{% url 'listar_cotacoes' %}" class="btn btn-primary">Listar cotacoes</a>


{% endblock %}